version: "3.9"

services:
  social-analyzer:
    build: .
    ports:
      - "9005:9005"
    depends_on:
      - hub
    entrypoint: npm start -- --docker --grid "http://hub:4444/wd/hub"

  hub:
    image: selenium/hub:4.38.0-20251101
    container_name: selenium_hub
    ports:
      - "4444:4444"
      - "4442:4442"
      - "4443:4443"

  firefox:
    image: selenium/node-firefox:4.38.0-20251101
    container_name: firefox_node
    depends_on:
      - hub
    environment:
      SE_EVENT_BUS_HOST: selenium_hub
      SE_EVENT_BUS_PUBLISH_PORT: 4442
      SE_EVENT_BUS_SUBSCRIBE_PORT: 4443
      SE_NODE_MAX_SESSIONS: 1
      SE_OPTS: "-headless"
    shm_size: 512m
    volumes:
      - /dev/shm:/dev/shm

